.ball {
  //position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;

  &.is-red {
    background-image: url("../images/ball_red.gif");
  }

  &.is-blue {
    background-image: url("../images/ball_blue.gif");
  }

  &.is-transparent {
    color: @color-normal;
  }
}